<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Acesso ao Sistema</h3>
    <form (ngSubmit)="onLoginSubmit()" [formGroup]="loginForm">
      <div class="mb-3">
        <label>Email</label>
        <input class="form-control" formControlName="email" type="text">
        <div *ngIf="email?.invalid && email?.touched">
          {{ formService.getErrorMessage(loginForm, 'email')}}
        </div>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input class="form-control" formControlName="password" type="password">
        <div *ngIf="password?.invalid && password?.touched">
          {{ formService.getErrorMessage(loginForm, 'password')}}
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Login</button>
        <span class="mx-2">Não é cadastrado?</span><a [routerLink]="['/auth/signup']">Clique aqui</a>
      </div>
    </form>
  </div>
</div>
