<div class="row">
  <div class="col-md-8">
    <h3>Post List</h3>
    <div>
      <a [routerLink]="['/posts/add']" class="btn btn-primary">New Post</a>
    </div>
    <table aria-label="posts list" class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts$ | async">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>
          <a [routerLink]="['edit', post.id]" class="btn btn-primary">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
